[Unit]
Description=PiSwitch gunicorn process
After=network.target

[Service]
WorkingDirectory=/websites/piswitch-manager
EnvironmentFile=/websites/piswitch-manager/settings.env
ExecStart=/usr/local/bin/gunicorn \
    piswitch.wsgi:application \
    --workers 1 \
    --bind 0.0.0.0:8000 \
    --log-level warn \
    --log-file -
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
