{% load staticfiles %}
{% load home_tags %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="author" content="Shane Rice"/>
	<meta name="title" content="PiSwitch Manager"/>
	<meta name="description" content="Speedrun Results and Estimates"/>

	<title>PiSwitch Manager - {% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'main/css/main.css' %}" rel="stylesheet">

	{% block head %}{% endblock %}
</head>
<body>

<div class="container-fluid">

    {% block menu %}
        <nav class="navbar navbar-expand-md navbar-light bg-light mt-2">
            <a class="navbar-brand" href="{% url 'home:index' %}">PiSwitch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01"
                    aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar01">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block home_active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home:index' %}">Home</a>
                    </li>
                    <li class="nav-item {% block redis_active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home:redis' %}">Redis</a>
                    </li>
                    <li class="nav-item {% block wifi_active %}{% endblock %}">
                        <a class="nav-link" href="{% url 'home:wifi' %}">WiFi</a>
                    </li>
                </ul>

            </div>
        </nav>
    {% endblock %}

    {% block heading %}
        <h1>PiSwitch Manager</h1>
    {% endblock %}

    {% block messages %}
        <div class="row">
            <div class="col">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.extra_tags }} alert-dismissible mt-1" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            {{ message.message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

</div>

<script type="text/javascript" src="{% static 'jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'popper/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'font-awesome/js/all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

{% block tail %}{% endblock %}

</body>
</html>
