{% extends "main.html" %}
{% block title %}WiFi Settings{% endblock %}
{% block wifi_active %}active{% endblock %}
{% load crispy_forms_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-1">
        <div class="col">

            <h3>WiFi Settings</h3>

            <div class="alert alert-danger">Not Yet Functional</div>

            <form action="{% url 'home:savewifi' %}" method="post">
                {{ form|crispy  }}
                <button type="submit" class="btn btn-success">Save WiFi Settings</button>
            </form>

        </div>
    </div>
{% endblock %}
